<div id="attributes" class="flexcol" class="attributes">
  {{#each data.attributes as |attribute attribute_name|}}
  <div id="attribute-{{attribute_name}}" class="attributes-{{attribute_name}}">
    <div id="attribute-{{attribute_name}}__title">
      <div class="stripe">
        <a>{{attribute_name}}</a>
      </div>
      <div class="attribute-xoomer">
        {{#multiboxes attribute.exp}}
        <label for="{{actor._id}}-{{attribute_name}}-exp-0"
          ><i class="fab fa-creative-commons-zero nullifier"></i
        ></label>
        <input
          type="radio"
          id="{{actor._id}}-{{attribute_name}}-exp-0"
          name="data.attributes.{{attribute_name}}.exp"
          value="0"
          checked="checked"
        />
        {{#from_to 1 6}}
        <input
          type="radio"
          id="{{actor._id}}-{{attribute_name}}-exp-{{this}}"
          name="data.attributes.{{attribute_name}}.exp"
          value="{{this}}"
        />
        <label for="{{actor._id}}-{{attribute_name}}-exp-{{this}}"></label>
        {{/from_to}} {{/multiboxes}}
      </div>
    </div>
    {{#each attribute.actions as |action action_name|}}
    <div class="flexrow">
      <div class="attributes-container">
        {{#multiboxes action.exp}} {{#from_to 0 4}}
        <input
          type="radio"
          id="attributes-{{actor._id}}-{{action_name}}-{{this}}"
          name="data.attributes.{{attribute_name}}.actions.{{action_name}}.exp"
          value="{{this}}"
        />
        <label for="attributes-{{actor._id}}-{{action_name}}-{{this}}"></label>
        {{/from_to}}

        <div
          class="attribute-skill-label roll-die-attribute rollable-text"
          data-roll-attribute="{{action_name}}"
        >
          {{action.label}}
        </div>
        {{/multiboxes}}
      </div>
    </div>
    {{/each}}
  </div>
  {{/each}}
</div>
