<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <div id="name" class="well character-name">
      <input
        id="character-{{actor._id}}-name"
        name="name"
        type="text"
        value="{{actor.name}}"
        placeholder="translate me"
      />
      <label for="character-{{actor._id}}-name">Name</label>
    </div>
    <div id="alias" class="well character-alias">
      <input
        id="character-{{actor._id}}-alias"
        name="data.details.alias"
        type="text"
        value="{{data.details.alias}}"
        placeholder="translate me"
      />
      <label for="character-{{actor._id}}-alias">Alias</label>
    </div>
    <img
      class="profile"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
    />
  </header>
  <div class="well">
    {{> "systems/sandv/templates/character/parts/stress-trauma.html" }} {{>
    "systems/sandv/templates/character/parts/harm-recovery.html" }}
  </div>
  {{> "systems/sandv/templates/character/parts/attributes.html" }}
</form>
